<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[title]</title>
    <link href="__PUBLIC__/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/wap/css/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/wap/css/example.css"/>
    <script src="__PUBLIC__/wap/js/zepto.min.js"></script>
    <script src="__PUBLIC__/wap/js/jquery-2.1.4.js"></script>
    <script src="__PUBLIC__/wap/js/vue.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/wap/js/jweixin-1.0.0.js"></script>
    <script src="__PUBLIC__/wap/js/weui.min.js"></script>
    <script src="__PUBLIC__/wap/js/example.js"></script>
</head>


