<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[title]</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="__PUBLIC__/wap/css/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/wap/css/example.css"/>
    <link rel="stylesheet" href="__PUBLIC__/wap/css/alert.css"/>
    <script src="__PUBLIC__/wap/js/jquery-2.1.4.js"></script>
    <script src="__PUBLIC__/wap/js/alert.js"></script>
    <script src="__PUBLIC__/wap/js/vue.min.js"></script>
    <script src="__PUBLIC__/wap/js/zepto.min.js"></script>
    <script src="__PUBLIC__/wap/js/jweixin-1.0.0.js"></script>
    <script src="__PUBLIC__/wap/js/weui.min.js"></script>
</head>





