{include file="public/header" title="零售记录"  /}
<body>
<div class="container" id="container">
    <div id="aa">
    <div class="page input js_show">
        <div class="page__hd">
            <h1 class="page__title">零售记录</h1>
        </div>
        <div  v-for="info in sales_record_list" >
        <div class="page__bd"  >
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">批发编号</label>
                        <em class="weui-form-preview__value">{{info.sales_sn}}</em>
                    </div>
                </div>
                <div class="">
                    <div class="weui-cells__title">详情</div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell weui-cell_select weui-cell_select-after">
                            <div class="weui-cell__hd">
                                <label  class="weui-label">零售客户</label>
                            </div>
                            <div class="weui-cell__bd">
                                <select v-model="info.client_id" class="weui-select" name="select2">
                                    <option v-for="client_info in client_list" v-bind:value="client_info.id">{{client_info.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">零售金额</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="number" v-model="info.money_amount" pattern="[0-9.]*" placeholder="请输零售金额">
                            </div>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after">
                        <div class="weui-cell__hd">
                            <label  class="weui-label">收款状态</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select v-model="info.status" class="weui-select" name="select2">
                                <option value="1">已收</option>
                                <option value="2">欠款</option>
                            </select>
                        </div>
                    </div>
                    <div class="weui-cells__title">备注</div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <textarea class="weui-textarea"  v-model="info.remark" placeholder="零售备注" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="weui-form-preview__ft">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:" v-on:click="delSales()">删除</a>
                    <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary"
                            href="javascript:" v-on:click="creationNewSales()">添加
                    </button>
                </div>
            </div>
        </div>
        <br>
    </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" v-on:click="subForm()" >确定</a>
        </div>
    </div>
</div>
</div>
<script >
    var vueObj=new Vue({
        el: '#aa',
        data: {
            sales_record_list:JSON.parse('{:json_encode($sales_record_list)}'),
            sales_record_num: '{$sales_record_num}',
            member_id: '{$member_id}',
            date_num: "{:date('Ymd')}",
            client_list:JSON.parse('{:json_encode($client_list)}')
        },
        methods: {
            format: function (timestamp) {
                //timestamp是整数，否则要parseInt转换,不会出现少个0的情况
                var date =  new Date(timestamp*1000);
                var y = 1900+date.getYear();
                var m = "0"+(date.getMonth()+1);
                var d = "0"+date.getDate();
                return y+"-"+m.substring(m.length-2,m.length)+"-"+d.substring(d.length-2,d.length);
            },
            creationNewSales:function () {
                var sales_record_info={};
                this.sales_record_num=(1*this.sales_record_num)+1;
                sales_record_info.sales_sn=this.date_num+( "000" + this.member_id ).substr( -3 )+('000'+this.sales_record_num).substr( -3 );
                sales_record_info.client_id=this.client_list[0].id;
                sales_record_info.status='1';
                this.sales_record_list.push(sales_record_info);
            },
            subForm:function () {
                ajaxPostSend('{:url()}',{'data':vueObj.sales_record_list})
            },
            delSales:function (key) {
                if(vueObj.sales_record_list.length<2){
                    qq_alert('至少保留一条零售信息');
                    return false;
                }
                var key_id=vueObj.sales_record_list[key].id;
                if(key_id==undefined){
                    vueObj.sales_record_list.splice(key,1);
                }else {
                    ajaxPostSend('{:url(delSales)}',{'id':key_id},function (data) {
                        if(data.code=='1'){
                            vueObj.sales_record_list.splice(key,1);
                        }
                    })
                }
            }
        }
    });

</script>

</body>