{include file="public/header" title="首页"  /}
<div class="page navbar js_show">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-navbar">
                <div class="weui-navbar__item {$type=='1'?'weui-bar__item_on':''}" data-type="1">
                    日统计
                </div>
                <div class="weui-navbar__item {$type=='2'?'weui-bar__item_on':''}" data-type="2">
                    月统计
                </div>
                <div class="weui-navbar__item {$type=='3'?'weui-bar__item_on':''}" data-type="3">
                    年统计
                </div>
            </div>
            <div class="weui-tab__panel" id="api">
                <div class="page preview js_show">
                    <div class="page__hd" style="margin-top: 50px;">
                        <h1 class="page__title">首页</h1>
                    </div>
                    <div class="page__bd">
                        <div v-for="statistics_info in statistics_list">
                            <div class="weui-form-preview">
                                <div class="weui-form-preview__hd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">{{format(statistics_info.date_time)}}</label>
                                        <em class="weui-form-preview__value">利润:¥{{statistics_info.retail_money-statistics_info.wholesale_money-statistics_info.residue_money}}</em>
                                    </div>
                                </div>
                                <div class="weui-form-preview__bd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">批发总价</label>
                                        <span class="weui-form-preview__value">¥{{statistics_info.wholesale_money}}</span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">零售总价</label>
                                        <span class="weui-form-preview__value">¥{{statistics_info.retail_money}}</span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">毛利润</label>
                                        <span class="weui-form-preview__value">¥{{statistics_info.retail_money-statistics_info.wholesale_money}}</span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">欠款总金额</label>
                                        <span class="weui-form-preview__value">¥{{statistics_info.debt_money}}</span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">回款总金额</label>
                                        <span class="weui-form-preview__value">¥{{statistics_info.returned_money}}</span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">剩余欠款</label>
                                        <span class="weui-form-preview__value">¥{{statistics_info.residue_money}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

<script>
    var is_ajax = 1;
    var statistics_count_num = '0';
    var type = '{$type}';
    var vueObj = new Vue({
        el: '#api',
        data: {
            statistics_list: JSON.parse('{:json_encode($statistics_list)}')
        },
        created: function () {

        },
        methods: {
            format: function (timestamp) {
                //timestamp是整数，否则要parseInt转换,不会出现少个0的情况
                var date = new Date(timestamp * 1000);
                var y = 1900 + date.getYear();
                var m = "0" + (date.getMonth() + 1);
                var d = "0" + date.getDate();
                if (type == 1) {
                    return y + "-" + m.substring(m.length - 2, m.length) + "-" + d.substring(d.length - 2, d.length);
                } else if (type == 2) {
                    return y + "-" + m.substring(m.length - 2, m.length) + "月";
                } else {
                    return y + '年';
                }
            }
        }
    });

    $('.weui-navbar__item').click(function () {
        var data_type = $(this).attr('data-type');
        location.href = '{:url()}?type=' + data_type;
    });
</script>